.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 2px solid #acacac;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.animate-delete {
  transform: translateX(50px);
  opacity: 0;
}

.task-item-col1 {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  gap: 1rem;
  justify-content: start;
  background-color: transparent;
  width: 100%;
}

.task-item-text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.task-item-text {
  color: black;
  opacity: 0.7;
  font-size: 1.2rem;
  min-height: 30px; 
  max-width: 100%;
  font-weight: 600;
  outline: none;
  background-color: transparent;
  border: none;
}

.task-item-text.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.task-item-text:empty::before {
  content: "Enter text here…";
  color: gray;
  pointer-events: none;
}

.task-item-date-time {
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
  display: inline;
  opacity: 0.5;
  white-space: nowrap;
}

.task-item-col2 {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  gap: 1rem;
  justify-content: center;
}

.delete-button {
  padding: 0px;
  background-color: transparent;
  outline: none;
  border: none;
}
.delete-button:hover {
  transform: scale(1.1);
}

.improve-button {
  padding: 0px;
  background-color: transparent;
  outline: none;
  border: none;
}
.improve-button:disabled {
  cursor: default;
}

.improve-icon {
  color: var(--primary-purple);
  opacity: 0.3;
}

@keyframes loader {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    color: scale(1);
  }
}

.allow-improve {
  opacity: 1;
}

.loading {
  animation: loader 1s ease-in-out infinite;
  opacity: 1;
}

@media screen and (max-width: 500px) {
  .task-item-text {
    font-size: 0.9rem;
  }
  .task-item-date-time {
    font-size: 0.6rem;
    white-space: wrap;
  }
  .task-button {
    font-size: 20px;
  }
}
