.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 2px solid #acacac;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.animate-delete {
  transform: translateX(50px);
  opacity: 0;
}

.task-item-col1 {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  gap: 1rem;
  justify-content: start;
  background-color: transparent;
  width: 100%;
}

.task-item-text {
  color: black;
  opacity: 0.7;
  font-size: 1.2rem;
  font-weight: 600;
  outline: none;
  display: inline;
  width: 100%;
}

.task-item-text.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.task-item-col2 {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  gap: 1rem;
  justify-content: center;
}

.task-item-date-time {
  color: black;
  font-size: 0.9rem;
  font-weight: 600;
  display: inline;
  opacity: 0.5;
  white-space: nowrap;
}

.delete-button {
  padding: 0px;
  background-color: transparent;
  outline: none;
  border: none;
}
.delete-button:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 500px) {
  .task-item-text {
    font-size: 0.9rem;
  }
  .task-item-date-time {
    font-size: 0.6rem;
    white-space: wrap;
  }
  .delete-button {
    font-size: 20px;
  }
}
