.header {
  border-bottom: 2px solid #acacac;
  padding: 20px;
}
.header-row-1 {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.day-date-text {
  color: var(--primary-purple);
  font-size: 2.5rem;
  font-weight: 500;
}

.tasks-count {
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
  opacity: 0.6;
}

.header-row-2 {
  display: flex;
  justify-content: start;
  font-size: 1.2rem;
  gap: 10px;
  align-items: center;
  color: black;
  opacity: 0.5;
  font-weight: 600;
}

.add-task-button-row {
  display: flex;
  justify-content: end;
}
.add-task-button {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transform: translateY(-9px);
  background-color: var(--primary-purple);
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;
}

.add-task-button:hover {
  background-color: rgb(76, 16, 154);
}

@media screen and (max-width: 500px) {
  .add-task-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: translateY(-5px);
  }
  .day-date-text {
    font-size: 1.9rem;
    font-weight: 500;
  }

  .tasks-count {
    font-size: 1.1rem;
    font-weight: 500;
  }

  .header-row-2 {
    font-size: 0.8rem;
    font-weight: 600;
  }
}
